<div id="decorative-frame">

    <!-- Menu -->
    <div id="menu">
        <button mat-mini-fab aria-label="hint"
        [color]="!hint ||disableInterface() ? 'fade' : 'normal'"
        [disabled]="!hint || disableInterface()"
        (click)=getHint()>
            <mat-icon>help</mat-icon>
        </button>
        <button mat-mini-fab aria-label="game-settings"
        [color]="disableInterface() ? 'fade' : 'normal'"
        [disabled]="disableInterface()"
        (click)="viewSettings()">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-mini-fab aria-label="save"
        [color]="disableInterface() ? 'fade' : 'normal'"
        [disabled]="disableInterface()"
        (click)="viewSaveLoad()">
            <mat-icon>save</mat-icon>
        </button>
    </div>

    <!-- Menu Components -->
    <app-settings *ngIf="showSettings" class="floating-element"></app-settings>
    <app-save-load *ngIf="showSaveLoad"class="floating-element"></app-save-load>

    <!-- Main Game stuff -->
    <app-main-scene
    [disable]="disableInterface()"
    [pointer]="pointer"
    ></app-main-scene>


    <!-- Inventory -->
    <app-inventory *ngIf="!isDialogueActive && !isChoiceActive && !isInputReqActive"
    [disable]="disableInterface()"></app-inventory>
    <app-dialogue *ngIf="isDialogueActive"></app-dialogue>
    <app-choice *ngIf="isChoiceActive"></app-choice>
    <app-input-req *ngIf="isInputReqActive"></app-input-req>

</div>

