@import '../_objects/vars.scss';

#decorative-frame {
    position: relative;
    border: 1px solid black;
    width: $game-width;
    height: $game-height;
    max-width: $max-game-width;
    max-height: $max-game-height;
    display: flex;
    flex-direction: column;
}

#menu {
    position: absolute;
    right: 0;
}

app-main-scene {
    flex-grow: 1;
}

button {
    margin: $standard-margin;
}

.mat-fade:disabled {
    color: $medium-grey;
    background-color: lightgrey;
}

.mat-normal {
    color: black;
    background-color: lightgrey;
}


.floating-element {
    position: absolute;
    top: calc(50% - #{$bottom-section-height} / 2);
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}