<div id="dialogue-frame">

    <!-- Decision to be made -->
    <div *ngIf="choice; else dialogue">
        <div id="choice-frame">
            <!-- Uqestion -->
            <div class="dialogue">
                <i>{{ choice.question }}</i>
            </div>

            <!-- Choices -->
            <div>
                <button *ngFor="let opt of choice.options; let index = index"
                mat-flat-button [color]="choice.seen[index] ? 'seen' : 'unseen'"
                (click)="choose(index, $event)">
                    {{ opt }}
                </button>    
            </div>
        </div>
    </div>

    <ng-template #dialogue>
        <!-- Character speaking -->
        <div *ngIf="current.speaker !== ''; else narrator">
            <div id="portrait-frame">
                <img src="" id="speaker" [alt]="current.speaker + '\'s portrait'">
                <div class="dialogue">
                    <b>{{ current.speaker }}:</b>
                    {{ current.text }}
                </div>    
            </div>
        </div>
    
        <!-- Narration -->
        <ng-template #narrator>
            <div class="dialogue">
                <i>{{ current.text }}</i>
            </div>
        </ng-template>
    
        <!-- <button mat-mini-fab aria-label="advance-dialogue"
        (click)="next()">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>     -->
    </ng-template>

</div>
