@import '../_objects/vars.scss';

#choice-frame {
    background-color: $almost-black;
    width: $game-width;
    max-width: $max-game-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    // The + four is for borders ...
    height: $bottom-section-height;
}

#question {
    color: whitesmoke;
    line-height: 1.5;
    font-size: 16pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: $large-margin;
    height: calc(100% - #{$large-margin} * 2);
}

button {
    margin: $standard-margin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14pt;
}

.mat-seen {
    color: $grey-ish-er;
    background-color: $dark-ish-grey;
}

.mat-unseen {
    color: whitesmoke;
    background-color: $medium-grey;
}
