@import '../_objects/vars.scss';

#interface-container {
    margin: $large-margin;
    display: flex;
    flex-wrap: wrap;
}

// #game-container {
// }

#game-banner {
    display: flex;
    justify-content: center;
    width: calc(#{$game-width} - #{$large-margin} * 2 + 2px);
    max-width: calc(#{$max-game-width} - #{$large-margin} * 2 + 2px);
    height: $banner-height;
    background-color: $almost-black;
    color: whitesmoke;
    padding: $large-margin;
    margin: 0px;
}