@import '../../rune-temple/_objects/vars.scss';

#mini-game-frame {
    position: relative;
    border: 1px solid black;
    width: $game-width;
    height: $game-height;
    max-width: $max-game-width;
    max-height: $max-game-height;
    background-color: $medium-grey;

    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;
    overflow: hidden;

}

app-breaker-puzzle {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
