<div id="game-size-wrapper">

    <!-- Epilogue info -->
    <h3>
        {{ epilogue.name }}
    </h3>

    <p id="epilogue-text">
        <i>{{ epilogue.text }}</i>
    </p>


    <!-- Actions -->
    <div id="action-holder">
        <button mat-flat-button>
            <label class="actions">
                <mat-icon>
                    refresh
                </mat-icon>
                Restart
            </label>
        </button>

        <button mat-flat-button>
            <label class="actions">
                <mat-icon>
                    save
                </mat-icon>
                Load Save
            </label>
        </button>
    </div>

</div>
