@import '../../rune-temple/_objects/vars.scss';

mat-grid-list {
    width: inherit;
    height: inherit;
    display: flex;
    background-color: rgba(70, 100, 150, .3);
    background-color: $medium-grey;
}

mat-grid-tile {
    width:5vw; height:5vw;
    button {
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:disabled {
            cursor: default;
        }
    }
}

.mat-allow {
    background-color: $lighter-grey;
}

.mat-disallow {
    background-color: $grey-ish;
}

.grid-box {
    position: relative;
    height: 80vmin;
    width: 80vmin;
    // margin: auto;
}

// piece display
.piece {
    top: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: lightseagreen;
    pointer-events: none;
}

