@import '../../rune-temple/_objects/vars.scss';

.grid-box {
    position: relative;
    height: 70vmin;
    width: 70vmin;
    margin: auto;
}

mat-grid-list {
    width: inherit;
    height: inherit;
    display: flex;
    background-color: rgba(70, 100, 150, .3);
    background-color: $medium-grey;
}

mat-grid-tile {
    width:5vw; height:5vw;
    button {
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:disabled {
            cursor: default;
            background-color: $grey-ish;
        }
    }
}

.mat-normalMove {
    background-color: $lighter-grey;
}

// piece display
.piece {
    position: absolute;
    background-color: lightseagreen;
    pointer-events: none;

    -webkit-transition: top .2s ease-in-out, left .2s ease-in-out;
    -moz-transition: top .2s ease-in-out, left .2s ease-in-out;
    -o-transition: top .2s ease-in-out, left .2s ease-in-out;
    transition: top .2s ease-in-out, left .2s ease-in-out;
}

