<div class="grid-box">
    <mat-grid-list [cols]="gridCols"
    rowHeight="fit"
    gutterSize="1px">
        <mat-grid-tile *ngFor="let tile of tiles; let index = index">
            <button mat-flat-button aria-label="move-or-attack"
            [color]="tile.move ? 'normalMove' : ''"
            [disabled]="tile.disabled || disable"
            (click)="action(index, tile.dash)"
            ></button>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="piece"
    *ngFor="let piece of pieces"
    [ngStyle]="returnAttributes(piece)">
        {{ piece.xcoord }}, {{ piece.ycoord }}
        {{ piece.pieceType }}
    </div>
    
</div>