$game-width: 90vw;
$max-game-width: 1200px;
$max-game-height: 800px;
$game-height: 80vh;
$banner-height: 35px;

$item-dimentions: 75px;

$standard-margin: 5px;
$large-margin: 15px;
$tab: 20px;

$badges-width: calc(#{$item-dimentions} * 3.5);
$bottom-section-height: calc(#{$item-dimentions} + #{$standard-margin} * 2 + #{$large-margin} * 2 + 4px);

// Colors
$almost-black:  #504f54;
$lighter-grey: rgb(231, 231, 231);
$grey-ish: #bbbbbb;
$grey-ish-er: #a0a0a0;
$medium-grey: rgb(110, 110, 110);
$dark-ish-grey: rgb(94, 94, 94);

.center-align {
    display: flex;
    align-items: center;
}

.tab {
    margin-left: $tab;
}

.pop-up {
    border: $almost-black solid 1px;
    box-shadow: 2px 4px 4px $medium-grey;
}

.floating-element {
    position: absolute;
    top: calc(50% - #{$bottom-section-height} / 2);
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.mat-active {
    color: whitesmoke;
    background-color: $grey-ish-er;
}

.mat-active:disabled {
    color: $grey-ish-er;
    background-color: $dark-ish-grey;
}
