<div id="save-load-frame" class="pop-up" #saveload>
    <h3>
        <span id="title">
            Save and Load Games
        </span>
        <button mat-icon-button
        (click)="close()"
        aria-label="close-settings">
            <mat-icon>close</mat-icon>
        </button>
    </h3>

    <div id="action-buttons">
    
        <button mat-flat-button
        color="active"
        (click)="saveGame()">
            <mat-icon>save</mat-icon>
            Save Game
        </button>
    
        <button mat-flat-button
        color="active"
        [disabled]="!allowLoad"
        (click)="loadGame()">
            <mat-icon>get_app</mat-icon>
            Load Last
        </button>

        <button mat-flat-button
        color="active"
        (click)="newGame()">
            <mat-icon>refresh</mat-icon>
            New Game
        </button>
        
        <mat-divider></mat-divider><br>

        <button mat-flat-button
        color="active"
        [disabled]="!allowLoad"
        (click)="clearData()">
            <mat-icon>delete_outline</mat-icon>
            Clear Data
        </button>
    </div>

</div>