@import '../_objects/vars.scss';

$button-width: 70;

#save-load-frame {
    background-color: $medium-grey;
    display: flex;
    flex-direction: column;
    opacity: 0;
    // justify-content: flex-start;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $almost-black;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

#title {
    margin: $standard-margin
}

#action-buttons {
    position: relative;
    margin: $standard-margin;
    align-self: center;
    width: calc(1% * #{$button-width});
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

    button {
        flex-grow: 0;
        margin: $standard-margin;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13pt;
    }
}

.mat-active {
    color: whitesmoke;
    background-color: $grey-ish-er;
}

.mat-disabled {
    color: $grey-ish-er;
    background-color: $dark-ish-grey;
}

mat-divider {
    position: absolute;
    margin-left: calc((100 - #{$button-width}) / 2 * -1% - #{$standard-margin} * 2 - 1px);
    top: 72%;
    border-top-color: whitesmoke;
    width: calc(100% * 100 / #{$button-width});
}