<div id="dialogue-frame">

    <!-- Character speaking -->
    <div *ngIf="dialogue.speaker !== ''; else narrator">
        <div id="portrait-frame">
            <img src="" id="speaker" [alt]="dialogue.speaker + '\'s portrait'">
            <div class="dialogue">
                <b>{{ dialogue.speaker }}:</b>
                {{ dialogue.text }}
            </div>    
        </div>
    </div>

    <!-- Narration -->
    <ng-template #narrator>
        <div class="dialogue">
            <i>{{ dialogue.text }}</i>
        </div>
    </ng-template>

</div>
