@import '../_objects/vars.scss';

#save-load-frame {
    position: relative;
    background-color: $medium-grey;
    display: flex;
    flex-direction: column;
    opacity: 0;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $almost-black;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

#title {
    margin: $standard-margin
}