<div id="scene">
    <img src="scene.name" [alt]="scene.name">

    <!-- Active Areas -->
    <p>Actions</p>
    <div *ngFor="let area of scene.activeAreas">
        <!-- <img src="area.assetKey">
        <img src="area.assetKey"
        [ngclass]="pointer ? 'easy-mode' : 'hardmode'"
        (click)="interact()"> -->
        <button *ngIf="area.render"
        [ngClass]="pointer ? 'easymode' : 'hardmode'"
        [disabled]="disable"
        (click)="interact(area.assetKey)">
            {{ area.name }}
        </button>
    </div>

    <!-- Travel Arrows -->
    <p>Locations</p>
    <div *ngFor="let location of scene.locations">
        <button
        *ngIf="location.render"
        ngClass="easymode"
        [disabled]="disable"
        (click)="travel(location.assetKey)">
            {{ location.name }}
        </button>
    </div>
</div>
